/* DFVN Constructio Grotesk */
@font-face {
    font-family: 'DFVN Constructio Grotesk';
    src: url('./assets/fonts/DFVN Constructio Grotesk.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Montserrat Regular */
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Montserrat Bold */
  @font-face {
    font-family: 'Montserrat';
    src: url('./assets/fonts/Montserrat-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  